.dashboard-page {
    background: url("/images/college-1.png") no-repeat center center/cover;
    min-height: 100vh;
    padding-top: 60px;
    color: rgb(8, 104, 27);
  }
  
  .dashboard-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: rgb(59, 104, 7);
  }
  
  .dashboard-img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  h1 {
    font-size: 67px;
    font-weight: bold;
    text-shadow: 529px 529px 51px rgba(249, 246, 246, 0.9);
  }
  
  p {
    font-size: 18px;
  }
  
  button {
    margin-top: 10px;
    font-weight: bold;
    border-radius: 8px;
  }
  